.sidebar-offcanvas {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 345px;
    max-width: 80%;
    z-index: 99999;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    text-align: left;
    background-color: #fff;
    left: -100%;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-weight: 300;
    line-height: 30px;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    color: #909090;
}
.sidebar-offcanvas.active {
    left: 0;
}
.sidebar-offcanvas .bg-primary {
    color: #fff;
    background-color: #fdc900 !important;
}
.sidebar-offcanvas .offcanvas-head button {
    padding: 14px 25px;
}
.sidebar-offcanvas .navbar-offcanvas {
    border: none;
    position: relative;
    min-height: 50px;
    margin-bottom: 25px;
}
.sidebar-offcanvas .navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 10%);
    -webkit-overflow-scrolling: touch;
}
.sidebar-offcanvas .navbar-offcanvas ul#main-menu-offcanvas {
    float: none;
    display: block;
    margin: 0;
}