.site-container {
	font-family: Poppins,sans-serif;
}
.site-container .carousel-item .item {
	position: relative;
}	
.site-container .carousel-item .item .testimonials-body {
	position: absolute;
    top: 40%;
    left: 25%;
    max-width: 50%;
}
/** ************* Animation code *********** **/
@keyframes bgImageZoomIn {
	0% {
	  background-size: 100% 100%;
	}
	100% {
	  background-size: 127% 127%;
	}
}
@keyframes bgImageZoomInMobile {
	0% {
	  background-size: 100% 100%;
	}
	100% {
	  background-size: 115% 115%;
	}
}
/** ************* Animation code *********** **/
.site-container .carousel-item {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	animation: bgImageZoomIn 6.5s ease;
	animation-fill-mode: forwards;
}
.site-container .carousel-item1 {
	background-image: url(../../assets/images/site-content/slider1.jpg);
}
.site-container .carousel-item2 {
	background-image: url(../../assets/images/site-content/slider2.jpg);
}
.site-container .carousel-item .item {
	height: 100%;
}
.site-container .widget-heading {
	margin: 12.5px 0;
	padding-bottom: 25px;
	text-align: center;
	font-size: 30px;
    line-height: 35px;
	letter-spacing: -2px;
	color: #fff;
	font-family: Montserrat,sans-serif;
    font-weight: 600;
}

.site-container .testimonials-body {
    text-align: center;
	color: #fff;
}
.site-container .testimonials-body * {
	color: #fff;
}

.site-container .testimonials-body .testimonials-description {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    font-family: Montserrat,sans-serif;
}
.site-container .testimonials-body .testimonials-description p {
    line-height: 35px;
	margin: 0 0 12.5px;
}
.site-container .testimonials-body .testimonials-name {
    font-size: 18px;
    padding-top: 30px;
    font-family: Montserrat,sans-serif;
    margin-bottom: 5px;
}
.site-container .testimonials-name a:hover{
	color: #fff;
	text-decoration: none;
}
.site-container .testimonials-body .job {
    color: #fdc900;
	font-size: 14px;
}

/** ** ********* Carousel control specific styels ******** ** **/
.site-container .carousel-container {
	/*margin: 0 70px;*/
	position: relative;
}
.site-container .container-inner {
	margin: 0 auto;
	opacity: 1;
}
.site-container .carousel-control.left {
    left: 20px;
    right: auto;
}
.site-container .carousel-control.right {
    left: auto;
    right: 20px;
}
.site-container .carousel-controls .carousel-control {
	position: absolute;
	cursor: pointer;
    background: rgba(0,0,0,0.5);
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
	top: 50%;
    bottom: 0;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    filter: alpha(opacity=100);
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
	border-radius: 50%;
}
.site-container .carousel-control span {
	font-size: 26px;
	position: relative;
    left: -2px;
    top: 6px;
}
.site-container .carousel-control.right span {
	left: 1px;
}
.site-container .carousel-control:focus, .carousel-control:hover {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
    -webkit-box-shadow: 0 0 0 30px #fdc900 inset;
    box-shadow: inset 0 0 0 30px #fdc900;
}

.site-container .carousel-container:hover .carousel-control {
    opacity: 1;
    -webkit-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s;
}
/** ** ********* Carousel control specific styels ******** ** **/
@media (min-width: 1200px){
	
	.site-container .container-inner {
		max-width: 1140px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	
	.site-container .container-inner {
		max-width: 870px;
	}
	.site-container .carousel-container {
		margin: 0;
	}
	.site-container .carousel-inner {
		padding: 0 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	
	.site-container .container-inner {
		max-width: 95%;
	}
	.site-container .carousel-container {
		margin: 0;
	}
	.site-container .carousel-inner {
		padding: 0;
	}
}
@media (min-width: 300px) and (max-width: 767px){
	.site-container .widget-heading {
		font-size: 24px;
		letter-spacing: -1px;
	}
	.site-container .container-inner {
		max-width: 95%;
	}
	.site-container .carousel-container {
		margin: 0;
	}
	.site-container .carousel-item {
		animation: bgImageZoomInMobile 10s ease;
		animation-fill-mode: forwards;
	}
	.site-container .carousel-item .item img{
		min-height: 240px;
	}
}




