.agents-container {
    margin: 60px 0;
    font-family: Montserrat,sans-serif;
}
.agents-inner-container {
    margin: 65px 75px 0 75px;
}
.agents-container .heading {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}
.agents-container .subtitle {
    font-weight: 300;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #909090;
}

@media screen and (min-width: 1300px) {
    .agents-inner-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

@media screen and (max-width: 991px) {
    .agents-inner-container {
        margin: 65px 15px 0 15px;
    }
}

@media screen and (max-width: 767px) {
    .agents-inner-container {
        margin: 65px 0 0 0;
    }
}