/** ** Animations ** **/
@-webkit-keyframes b{
     0%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
     to{
        -webkit-transform:rotateY(1turn);
        -moz-transform:rotateY(1turn);
        -ms-transform:rotateY(1turn);
        -o-transform:rotateY(1turn);
        transform:rotateY(1turn)
    }
}
@keyframes b{
     0%{
        -webkit-transform:rotateY(0deg);
        -moz-transform:rotateY(0deg);
        -ms-transform:rotateY(0deg);
        -o-transform:rotateY(0deg);
        transform:rotateY(0deg)
    }
     to{
        -webkit-transform:rotateY(1turn);
        -moz-transform:rotateY(1turn);
        -ms-transform:rotateY(1turn);
        -o-transform:rotateY(1turn);
        transform:rotateY(1turn)
    }
}
/** ** Animations ** **/

.services {
	font-family: Poppins,sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #909090;
}
img {
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}
.service-wrapper {
    background: #fff;
    margin-bottom: 30px;
    padding: 0;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 70px rgb(0 0 0 / 6%);
    box-shadow: 0 5px 70px rgb(0 0 0 / 6%);
}
.opalservice-recent-service .service-wrapper {
    padding: 50px 40px 20px;
    text-align: center;
}
.service-wrapper {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.service-wrapper .service-box-image {
    position: absolute;
}
a, a:focus, a:hover {
    text-decoration: none;
	color: #333;
}
.service-wrapper .service-box-image img {
    max-width: inherit;
	height: auto;
}
.service-wrapper .box-wrapper {
    padding: 50px 20px 40px;
    margin-right: -1px;
    text-align: center;
    background: #fff;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    position: relative;
}
.service-box-icon {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50px;
    height: 20px;
}
.service-wrapper h4 {
    margin-bottom: 25px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
	padding: 5px 0;
}
.service-wrapper h4 a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.entry-content {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.service-wrapper .service-readmore {
    display: none;
	padding-top: 15px;
	font-weight: 400;
    color: #333;
}
.service-readmore a {
    text-transform: uppercase;
    color: #fdc900;
    font-weight: 600;
    position: relative;
}

/** ********** hovering effect ************* **/
.service-wrapper:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}
.service-wrapper:hover .box-wrapper {
    background: rgba(0,0,0,.45);
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    color: #fff;
}
.service-wrapper:hover .service-box-icon {
    -webkit-animation: b 2s infinite linear;
    -o-animation: b 2s infinite linear;
    animation: b 2s infinite linear;
}
.service-wrapper:hover h4 a {
    color: #fff;
}
/** ********** hovering effect ************* **/
