
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    color: #909090;
    font-weight: 400;
	font-family: Poppins,sans-serif;
    font-size: 14px;
	line-height: 30px;
    z-index: 99999;
}
.topbar-container {
	margin: 0 35px;
}
a, a:focus, a:hover {
    text-decoration: none;
}
.topbar a {
    color: #999;
}
.topbar a:hover {
    color: #fdc900;
}
.topbar #pbr-topbar .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topbar #pbr-topbar .inner ul {
    padding: 0;
    margin: 0;
}
.topbar #pbr-topbar .inner ul li {
    list-style-type: none;
    float: left;
    line-height: 20px;
    padding: 13px 0;
}
.topbar #pbr-topbar .inner .topbar-left ul li {
    padding-right: 30px;
}
.topbar #pbr-topbar .inner .topbar-left i {
    color: #fdc900;
    padding-right: 10px;
}
.topbar #pbr-topbar .inner ul li:hover {
    color: #fdc900;
}
.topbar #pbr-topbar .inner .topbar-right ul li {
    padding-left: 20px;
}
.topbar #pbr-topbar .inner .topbar-right ul li i {
    -webkit-transition: all .5s ease;
    -o-transition: all ease .5s;
    transition: all .5s ease;
}
.topbar #pbr-topbar .inner .topbar-right ul li i:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
}
.topbar-mobile {
    width: 100%;
    display: table;
}
.active-mobile {
    line-height: 48px;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    text-align: center;
}
.topbar-mobile .btn-offcanvas {
    background-color: transparent;
}
button {
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 9px 20px;
    font-size: 12px;
    line-height: 1.8;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button:before {
    background: #ffd531;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
button:hover:before {
	-webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
.topbar-mobile .btn-offcanvas i {
    color: #fff;
    font-size: 20px;
}
.active-mobile {
    line-height: 48px;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    text-align: center;
}
.topbar-mobile .active-mobile span.fa {
    color: #fff;
    font-size: 20px;
}
.pbr-search.input-group {
    border: 1px solid #e1e1e1;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.active-mobile .active-content {
    z-index: 99999;
    padding: 20px 15px;
    background-color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    min-width: 270px;
    visibility: hidden;
    text-align: left;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    top: calc(100% + 30px);
}
.active-mobile:hover .active-content {
    right: auto;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 100%;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.active-mobile.setting-popup .active-content {
    min-width: 200px;
}
.active-mobile ul {
    padding: 0;
    margin: 0;
}
.active-mobile ul li {
    display: block;
    margin: 0;
    padding: 6px 0;
    line-height: normal;
}
.active-mobile.setting-popup a {
    color: #333;
    padding-left: 20px;
}
.widget_shopping_cart_content .cart_list {
    overflow-y: auto;
    max-height: 325px;
}
.cart_list>div {
    margin: 10px 0;
    padding: 10px 0;
    position: relative;
}
.cart_list .empty {
    margin: 0;
    padding: 0;
}
.input-group .form-control {
	display: table-cell;
	height: 48px;
	position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
	padding: 9px 20px;
    background-color: #f9f9f9;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
	line-height: 1.8;
    color: #999;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-addon {
	display: table-cell;
	width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 0 30px 30px 0;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    -ms-border-radius: 0 30px 30px 0;
    -o-border-radius: 0 30px 30px 0;
	padding: 9px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #999;
    text-align: center;
}
.active-mobile.setting-popup a {
    color: #333;
    padding-left: 20px;
}
.active-mobile.setting-popup a:hover {
    color: #fdc900;
}

@media screen and (max-width: 767px) {
    .topbar-container {
        margin: 0 5px;
    }
    .active-mobile .active-content {
        min-width: 200px;
        left: -75%;
    }
}