.portfolio-item {
	font-family: Poppins,sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
.portfolio-entry .ih-item {
    position: relative;
}
.ih-item.square {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.portfolio-entry .ih-item .img {
    position: relative;
    overflow: hidden;
}
.portfolio-entry .ih-item .img img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.portfolio-entry .info-inner {
    padding: 20px 30px;
}
.portfolio-entry .info-inner h3 {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
}
.portfolio-entry .description {
	margin: 0 0 12.5px;
	padding: 20px 0;
	position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	line-height: 27px;
	font-size: 14px;
    font-weight: 300;
    color: #909090;
}
a {
	color: #333;
	text-decoration: none;
}
.learmore {
    margin: 12.5px 0;
}

.learmore a {
    color: #fdc900;
    font-weight: 500;
    font-size: 14px;
}
.learmore a i {
    padding-left: 15px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.portfolio-entry .ih-item:hover .img img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}
.portfolio-entry:hover .info-inner h3 a {
    color: #fdc900;
}
.portfolio-entry:hover .learmore i {
    transform: translateX(4px);
}