.testimonials-container {
	padding-top: 80px !important;
    padding-bottom: 60px !important;
	font-family: Poppins,sans-serif;
    background-image: url(../../assets/images/testimonials/testimonials.jpg) !important;
}
.testimonials-container .widget-heading {
	margin: 12.5px 0;
	padding-bottom: 25px;
	text-align: center;
	font-size: 30px;
    line-height: 35px;
	letter-spacing: -2px;
	color: #fff;
	font-family: Montserrat,sans-serif;
    font-weight: 600;
}
.testimonials-container .item {
	padding: 0 15px;
}
.testimonials-container  .testimonials-body {
    text-align: center;
}
.testimonials-container  .testimonials-body * {
    color: #fff;
}
.testimonials-container .testimonials-body .testimonials-description {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    font-family: Montserrat,sans-serif;
}
.testimonials-container .testimonials-body .testimonials-description p {
    line-height: 35px;
	margin: 0 0 12.5px;
}
.testimonials-container .testimonials-body .testimonials-name {
    font-size: 18px;
    padding-top: 30px;
    font-family: Montserrat,sans-serif;
    margin-bottom: 5px;
}
.testimonials-container .testimonials-name a:hover{
	color: #fff;
	text-decoration: none;
}
.testimonials-container .testimonials-body .job {
    color: #fdc900;
	font-size: 14px;
}

/** ** ********* Carousel control specific styels ******** ** **/
.testimonials-container .carousel-container {
	margin: 0 70px;
	position: relative;
}
.testimonials-container .container-inner {
	margin: 0 auto;
}
.testimonials-container .carousel-inner {
	padding: 0 65px;
	opacity: 1;
}
.testimonials-container .carousel-control.left {
    left: 0;
    right: auto;
}
.testimonials-container .carousel-control.right {
    left: auto;
    right: 0;
}
.testimonials-container .carousel-controls .carousel-control {
	position: absolute;
    bottom: 0;
	z-index: 20;
    top: 43%;
    opacity: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
    filter: alpha(opacity=100);
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
	border-radius: 50%;
}
.testimonials-container .carousel-control:focus, .carousel-control:hover {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
    -webkit-box-shadow: 0 0 0 30px #fdc900 inset;
    box-shadow: inset 0 0 0 30px #fdc900;
}

.testimonials-container .carousel-container:hover .carousel-control {
    opacity: 1;
    -webkit-transition: all .35s ease 0s;
    -o-transition: all .35s ease 0s;
    transition: all .35s ease 0s;
}
/** ** ********* Carousel control specific styels ******** ** **/
@media (min-width: 1200px){
	
	.testimonials-container .container-inner {
		max-width: 1140px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	
	.testimonials-container .container-inner {
		max-width: 870px;
	}
	.testimonials-container .carousel-container {
		margin: 0;
	}
	.testimonials-container .carousel-inner {
		padding: 0 20px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	
	.testimonials-container .container-inner {
		max-width: 95%;
	}
	.testimonials-container .carousel-container {
		margin: 0;
	}
	.testimonials-container .carousel-inner {
		padding: 0;
	}
}
@media (min-width: 300px) and (max-width: 767px){
	.testimonials-container .widget-heading {
		font-size: 24px;
		letter-spacing: -1px;
	}
	.testimonials-container .container-inner {
		max-width: 95%;
	}
	.testimonials-container .carousel-container {
		margin: 0;
	}
	.testimonials-container .carousel-inner {
		padding: 0 15px;
	}
}




