.lastest_new {
	font-family: Poppins,sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #909090;
}
article .entry-thumb {
    overflow: hidden;
    position: relative;
}
.post-thumbnail {
    position: relative;
    overflow: hidden;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
	margin: 0;
}
.entry-thumb .comments-link {
	position: absolute;
	bottom: 10%;
    padding: 2px 10px;
    opacity: 0;
	font-weight: 400;
    filter: alpha(opacity=0);
    -webkit-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    left: 30px;
    color: #fff;
}
.entry-meta {
	text-transform: uppercase;
    font-size: 13px;
    line-height: 26px;
    padding: 20px 0 0;
}
article .entry-meta .author a {
    color: #fdc900;
}
a, a:hover {
	text-decoration: none;
}
article .entry-category:before {
    content: "|";
}
article .entry-title a {
    display: -webkit-box;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
	color: #333;
}
.information-post .description {
	padding: 20px 0;
    border-top: 1px solid #ededed;
	line-height: 27px;
}
.information-post .description p {
	margin: 0 0 12.5px;
    line-height: 30px;
	position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.blog-post-detail:hover .entry-title a {
    color: #fdc900;
}
.entry-thumb:hover .comments-link {
	opacity: 1;
    filter: alpha(opacity=100);
    background: #fdc900;
}
.entry-thumb:hover .comments-link a {
	color: #fff;
}