
.btn {
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    /*border: 1px solid transparent;
    white-space: nowrap;
    padding: 9px 20px;
    font-size: 12px;*/
    line-height: 1.8;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #fff;
    background-color: #000;
    border-color: #000;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.btn-primary {
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    background-color: #fdc900;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-sm {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
    letter-spacing: 1px;
}
.btn-primary:before {
	background: #ffd531;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	color: #333 !important;
    background-color: #fdc900 !important;
    border-color: #e4b500 !important;
}

.btn-primary:hover:before {
	-webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
.btn-lg {
    padding: 15px 60px;
    font-size: 14px;
    line-height: 1.8;
    border-radius: 0;
}
.btn:active {
	background-image: none;
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px transparent;
    box-shadow: inset 0 3px 5px transparent;
}
.btn-radius-35, .btn-radius-35:before{
    -webkit-border-radius: 35px !important;
    -moz-border-radius: 35px !important;
    -ms-border-radius: 35px !important;
    -o-border-radius: 35px !important;
    border-radius: 35px !important;
}
a {
	color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
	vertical-align: middle;
}
a:focus, a:hover {
	text-decoration: none;
    color: #fdc900;
}
.btn-link {
	color: #333 !important;
}
.subtitle {
    font-family: Poppins, sans-serif;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.modal-content {
    border-radius: 0;
}
.modal-content .modal-header button.close {
    padding: 6px;
}
.modal-content .modal-header button.close span{
    font-size: 26px;
}

@media screen and (max-width: 767px){
    .widget-heading,
    .heading {
        font-size: 24px !important;
    }
}
