.preview-header {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 12px;
    height: 54px;
    background-color: #262626;
    z-index: 100;
    line-height: 54px;
    border-bottom: 1px solid #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #545454;
}
.preview__envato-logo {
    float: left;
    padding: 0 20px;
}
.preview__envato-logo a {
    display: inline-block;
    position: absolute;
    top: 18px;
    text-indent: -9999px;
    height: 18px;
    width: 152px;
    background: url(../../assets/images/preview-header.svg);
    background-size: 152px 18px;
}
.preview__actions {
    float: right;
}
.preview__action--buy {
    display: inline-block;
    padding: 0 20px;
}
.header-buy-now {
    -webkit-box-shadow: 0 2px 0 #6f9a37;
    box-shadow: 0 2px 0 #6f9a37;
    position: relative;
	background-color: #82b440;
	font-size: 14px;
    padding: 5px 20px;
    line-height: 1.5;
	color: white;
	box-sizing: border-box;
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}
.header-buy-now:hover {
	background-color: #7aa93c;
	text-decoration: none;
	outline: none;
	color: white;
}