.sidebar-menu-item {
    position: relative;
    border-bottom: 1px solid #ededed;
    display: block;
    float: none;
    list-style: none;
}
.sidebar-menu-item>a {
    padding: 12px;
    font-weight: 500;
    position: relative;
    display: block;
    line-height: 25px;
}
.sidebar-menu-item .dropdown-menu {
    border: none;
    padding-bottom: 20px;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 0;
    z-index: 1000;
    display: block;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    transition: max-height .5s ease;
}
.sidebar-menu-item .dropdown-menu.active {
    padding: 5px 0;
    max-height: 200px;
    transition: max-height .5s ease;
}
.sidebar-menu-item .dropdown-menu .level-1 {
    padding: 4px 6px;
    list-style: none;
}
.sidebar-menu-item .dropdown-menu>li>a {
    font-size: 13px;
    font-weight: 500;
    display: block;
    padding: 5px 20px;
    clear: both;
    line-height: 1.8;
    color: #666;
    white-space: nowrap;
    text-decoration: none;
}
.sidebar-menu-item .caret {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 11px;
    width: 25px;
    height: 25px;
    border: 1px solid #ededed;
    z-index: 9;
    background: #f5f5f5;
    margin-left: 2px;
    vertical-align: middle;
}
.sidebar-menu-item .caret::after {
    font-family: FontAwesome;
    content: "\f107";
    top: -3px;
    left: 7px;
    position: absolute;
    z-index: 9;
}
