.pricing-container>.vc_column-inner {
	box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
	font-family: Poppins,sans-serif;
	font-size: 14px;
    color: #909090;
    line-height: 30px;
}
.pricing {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.pricing .pricing-header {
    padding: 30px 0 20px;
    background-color: #e5e5e5;
    color: #333;
}
.pricing .plain-info {
    padding: 50px 5px 50px 70px;
    background-color: #fff;
}
.pricing .pricing-header .plan-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat,sans-serif;
}
.pricing .pricing-header .plan-title {
    text-align: center;
    font-size: 18px;
    margin: 8px 0;
    letter-spacing: -.5px;
    font-weight: bold;
}
.pricing .plan-price .plan-currency {
    font-size: 24px;
    top: -11px;
}
sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.pricing .plan-price .plan-figure {
    font-size: 40px;
    font-weight: 600;
    padding-left: 4px;
}
.pricing .plan-price .plan-figure:after {
    content: "/";
    font-size: 18px;
    padding: 0 4px;
    font-weight: 400;
}
.pricing .plan-price .plan-date {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: -15px;
}
.pricing ul {
    padding-left: 0;
    padding-right: 0;
	margin-top: 0;
    margin-bottom: 12.5px;
}
.pricing .plain-info li {
    position: relative;
    padding-bottom: 15px;
	list-style: none;
}
.pricing .plain-info li:before {
    content: "\f046";
    font-family: FontAwesome;
    padding-right: 20px;
    top: 0;
    left: 0;
}
.pricing .pricing-footer a {
	box-sizing: border-box;
    text-align: center;
    color: #333;
    padding: 20px;
    border: none;
	text-decoration: none;
}
.pricing .pricing-footer a:hover {
    color: #fff;
}
.btn {
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    /*border: 1px solid transparent;
    white-space: nowrap;
    padding: 9px 20px;
    font-size: 12px;
    line-height: 1.8;*/
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-primary {
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    background-color: #fdc900;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-sm {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
    letter-spacing: 1px;
}
.btn-primary:before {
	background: #ffd531;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-primary:hover:before {
	-webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.pricing:hover {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-box-shadow: 0 10px 10px 0 rgb(84 110 122 / 35%);
    box-shadow: 0 10px 10px 0 rgb(84 110 122 / 35%);
}

@media screen and (max-width: 991px) {
    .pricing .plain-info {
        padding: 30px 5px 30px 15px;
    }
}