.portfolios-container {
    margin: 60px 0;
    font-family: Montserrat,sans-serif;
}
.portfolios-inner-container {
    margin: 65px 0 0 0;
}
.portfolios-container .heading {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}
.portfolios-container .subtitle {
    font-weight: 300;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #909090;
}

@media screen and (max-width: 767px) {
    .portfolios-inner-container {
        margin: 65px 0 0 0;
    }
}