.header-logo {
    background: #272727;
    color: #909090;
    font-weight: 400;
	font-family: Poppins,sans-serif;
    font-size: 14px;
	line-height: 30px;
}
.header-logo .header-logo-inner {
    margin: 0 75px;
    padding: 0 15px;
}
.header-logo .header-middle {
    padding: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.general-style {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-button {
    margin-left: 40px;
}
.download-button a {
    color: #333;
    padding: 14px 52px;
    font-weight: 600;
	border: none;
	font-size: 12px;
}
.general-style ul, .general-style ul li {
    display: inline-block;
}
.general-style ul {
    overflow: hidden;
    margin: 3px 0 2px;
    padding: 0;
}
.general-style ul li {
    margin-right: 35px;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
    border-right: 1px solid #323232;
    text-align: left;
}
.general-style ul .icon-office {
    background: url(../../assets/images/header-logo/icon-office.png) no-repeat 0 24px;
}
.general-style ul li h5 {
	margin-top: 12.5px;
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.general-style ul li span {
    font-size: 13px;
}
.general-style ul li:last-child {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
}
.general-style ul .icon-cup {
    background: url(../../assets/images/header-logo/icon-cup.png) no-repeat 0 24px;
}

@media screen and (max-width: 1100px) {
    .header-logo .header-logo-inner {
        margin: 0 35px;
    }
}
@media screen and (max-width: 767px) {
    .header-logo .header-middle {
        justify-content: center;
    }
}