.pricings-container {
    padding-top: 70px;
    padding-bottom: 100px;
    font-family: Montserrat,sans-serif;
    background-color: #f2f2f2;
}
.pricings-inner-container {
    margin: 65px 75px 0 75px;
}
.pricings-container .heading {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -2px;
    font-weight: 600;
}
.pricings-container .subtitle {
    font-weight: 300;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #909090;
}
.pricings-container .pricing-container:nth-child(2n) .pricing .pricing-header,
.pricings-container .pricing-container:nth-child(2n) .pricing .pricing-footer a {
    color: #fff !important;
    background-color: #333;
}

@media screen and (min-width: 1300px) {
    .pricings-inner-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

@media screen and (max-width: 1023px) {
    .pricings-inner-container {
        margin: 65px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .pricings-inner-container {
        margin: 10px 0 0 0;
    }
}