.mid-section {
    font-size: 14px;
    line-height: 30px;
	font-family: Poppins, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #909090;
	background: #fdc900;
}
.alpha-l-section {
	background: #000000;
}
.alpha-r-section {
	background: #f2f2f2;
	padding-bottom: 250px;
}
@media screen and (max-width: 991px) {
	.alpha-r-section {
		padding-bottom: 10px;
	}
}
.alpha-r-section-inner {
	margin-left: 13%;
    margin-right: 15%;
	letter-spacing: 2.2px;
	color: #909090;
    text-align: left;
}
.alpha-r-section-inner .widget-heading {
	margin: 12.5px 0;
	padding-bottom: 25px;
	letter-spacing: -2px;
	font-size: 30px;
    line-height: 35px;
    position: relative;
    font-family: Montserrat,sans-serif;
    color: #333;
    font-weight: 600;
    text-align: left;
}
.alpha-r-section-inner .wpb_text_column p{
	margin: 0 0 12.5px;
    line-height: 30px;
	letter-spacing: normal;
}
.read-more-btn {
	padding: 18px 55px;
    line-height: 35px;
	position: relative;
	font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #5e5e5e !important;
    letter-spacing: -.3px;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.01) 0%,rgba(0,0,0,.02) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,.01) 0%,rgba(0,0,0,.02) 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.01) 0%,rgba(0,0,0,.02) 100%);
    background-repeat: repeat-x;
	border: 1px solid transparent;
    background-color: #fff;
	border-radius: 2em;
}
.read-more-btn:before {
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
	border-radius: 2em;
	background: #fdc900;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.read-more-btn:hover, 
.read-more-btn:focus {
    color: #fff;
    border-color: #f0f0f0;
}
.read-more-btn:hover:before {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}
.alpha-r-section-inner .vc_btn3-container {
    margin-top: 40px;
    margin-bottom: 150px;
}

/* ****** ************* Beta Section Styles starts here ************ ******** */
.beta-section {
	margin: 0 50px;
	margin-top: -250px;
}
.beta-r-section {
	background: #fff;
}
.beta-r-section .content {
	margin: 50px 20px 0 20px;
    font-size: 24px;
    line-height: 35px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 400;
    font-family: Montserrat,sans-serif;
}
/* ****** ************* Beta Section Styles ends here ************ ******** */

/* ****** ************* Gama Section Styles starts here ************ ******** */
.gama-section {
	padding: 85px 88px;
	font-family: Montserrat,sans-serif;
    color: #333;
    font-weight: 600;
}
.gama-section .count {
	font-size: 62px;
    font-weight: 600;
}
.gama-section .count-type {
	font-family: Poppins,sans-serif;
    font-weight: 500;
}

/* ****** ************* Gama Section Styles ends here ************ ******** */
@media screen and (max-width: 991px) {
    .gama-section {
        padding: 35px 40px;
    }
}

@media screen and (max-width: 767px) {
    .gama-section {
        padding: 35px 60px;
    }
    .gama-section .count {
        margin-bottom: 0;
    }
    .gama-section .count-type {
        margin-bottom: 20px;
    }
    .alpha-r-section-inner {
        margin-left: 35px;
        margin-right: 35px;
    }
    .alpha-r-section-inner .vc_btn3-container {
        margin-bottom: 60px;
        text-align: left;
    }
    .alpha-r-section-inner .widget-text-heading {
        padding-bottom: 0;
    }
}