.footer {
    background: #272727;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
	font-family: Poppins,sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #909090;
}
.container {
	padding-right: 15px;
    padding-left: 15px;
}
.footer .copyright-inner {
    text-align: center;
}
a, a:focus, a:hover {
    text-decoration: none;
}
.scrollup {
    position: absolute;
    z-index: 99999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fdc900;
    color: #fff !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    bottom: 15px;
    right: 15px;
}
.scrollup:hover {
    background: #fdc900;
}