.agent-container{
	font-family:Poppins,sans-serif;
}
.pbr-our-team {
    margin-bottom: 50px;
	position: relative;
    overflow: hidden;
}

.team-image {
	margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.team-image img{
	/*width: 100%;*/
	height: auto;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.pbr-our-team .team-info {
    bottom: -15px;
    margin: auto;
    position: absolute;
    text-align: center;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.pbr-our-team .team-info a {
    padding: 8px 60px;
}

.btn {
    text-align: center;
    color: #fff;
    border: none;
	display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
	text-decoration: none;
}

.btn-primary{
	position: relative;
	/*color: #333;*/
    background-color: #fdc900;
    /*border-color: #e4b500;*/
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.btn-lg {
    padding: 15px 60px;
    font-size: 14px;
    line-height: 1.8;
    border-radius: 0;
}

.fa-long-arrow-right:before {
    content: "\f178";
}

.btn-primary:before {
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #ffd531;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
}
.team-name{
	font-size: 24px;
}
.team-name a{
	color: #333;
	text-decoration: none;
}
.pbr-our-team .team-body-content {
    text-align: center;
}
.pbr-our-team .team-body-content p {
    text-transform: capitalize;
	color: #909090;
	font-size: 14px;
}

/** **** Hovering animation related css codes start here **** **/
.pbr-our-team:hover img {
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}
.pbr-our-team:hover .team-info {
    bottom: 0;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 100%;
}
.team-name a:hover{
	color: #fdc900;
}
/** **** Hovering animation related css codes end here **** **/