.pre-footer-outer {
    background-color: #f2f2f2;
    padding: 60px 0;
}
.pre-footer-wrapper {
    margin: 0 auto;
	font-family: Poppins,sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #909090;
	background-color: #f2f2f2;
}
/* h1, h2, h3, h4, h5, h6, strong, b {
	color: #333;
} */
.pre-footer-wrapper h1,
.pre-footer-wrapper h2,
.pre-footer-wrapper h3,
.pre-footer-wrapper h4,
.pre-footer-wrapper h5,
.pre-footer-wrapper h6,
.pre-footer-wrapper strong,
.pre-footer-wrapper b {
    color: #333;
}
.widget .widgettitle {
    text-transform: capitalize;
    border-bottom: none;
    font-size: 18px;
    padding-bottom: 6px;
	font-family: Montserrat,sans-serif;
	font-weight: 700;
    position: relative;
    letter-spacing: -.7px;
}
 ul.general-style2 {
	margin-top: 0;
    margin-bottom: 12.5px;
    padding-top: 15px;
    padding-left: 35px;
}
.widget ul li {
    list-style-type: none;
	list-style: none;
    padding: 8px 0;
    display: block !important;
}
ul.general-style2 p {
	margin: 0 0 12.5px;
    line-height: 30px;
    padding-left: 30px;
    padding-top: 5px;
	color: #909090;
}
ul.general-style2 a {
    color: #909090;
	text-decoration: none;
}
ul.general-style2 i {
    color: #fdc900;
    font-size: 18px;
    padding-right: 20px;
    width: 30px;
}
b, strong {
    font-weight: 700;
}
.vc-custom-1 {
	box-sizing: border-box;
    width: 100%;
	border-right-width: 1px !important;
    padding-top: 0 !important;
    padding-right: 10px !important;
    padding-left: 60px !important;
    border-right-color: #e1e1e1 !important;
    border-right-style: solid !important;
}
.vc-custom-2 {
	box-sizing: border-box;
    width: 100%;
	padding-right: 60px !important;
    padding-left: 60px !important;
}
.widget_recent_entries ul {
    list-style: none;
    margin: 0;
	padding-left: 0;
}
.widget_recent_entries ul li {
    width: 100%;
	display: flex !important;
    flex-direction: column-reverse;
	padding: 7px 0;
	list-style: none;
}
a, a:focus, a:hover {
    text-decoration: none;
}
.widget_recent_entries li a {
    margin-top: 6px;
	font-weight: 600;
    padding-bottom: 5px;
    font-family: Montserrat,sans-serif;
    color: #333;
}
.post-date {
	color: #909090;
	font-size: 14px;
    padding-right: 7px;
}
.vc_separator {
	padding-right: 30px;
    padding-left: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%;
}
.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #ebebeb;
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
}
.widget.widget_categories ul {
    padding-left: 35px;
	list-style: none;
    margin: 0;
}
.widget.widget_categories ul li {
    display: block;
    border-bottom: none;
	padding: 8px 0;
}
.widget.widget_categories ul li:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fdc900;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
}
.widget_categories ul li a {
	color: #909090;
}
.wpcf7-form {
    padding-top: 20px;
}
.wpcf7-form-control {
    width: 100%;
    max-width: 255px;
    padding: 9px 20px;
	position: relative;
    margin: 6px 0;
    border: 1px solid #ededed;
    height: 54px;
    float: left;
    font-size: 14px;
    background-color: #f9f9f9;
    background-image: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color: #fff;
    color: #333;
	text-align: center;
}
.wpcf7-form-control:focus {
    border-color: #fdc900 !important;
	outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.wpcf7-submit {
    background: #fdc900 !important;
    text-transform: uppercase;
	font-weight: 600;
	-webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
	-webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}
.wpcf7-submit:before {
    background: #ffd531;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.wpcf7-submit:hover:before {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
	border-radius: 30px;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}
.wpcf7-submit:hover {
    -webkit-box-shadow: inset 0 0 0 31px #ffd531;
    box-shadow: inset 0 0 0 31px #ffd531;
	color: #333;
    border-color: #e4b500;
}

.widget .widgettitle,
ul.general-style2,
.widget_recent_entries ul,
.widget.widget_categories ul {
    text-align: left;
}

@media screen and (max-width: 767px) {
    .pre-footer-outer {
        padding: 0;
    }
    .pre-footer-wrapper {
        padding: 70px 0 50px 0;
    }
    .pre-footer-wrapper .vc-custom-1 {
        padding-left: 15px !important;
        border: 0 !important;
    }
    .pre-footer-wrapper .vc-custom-2 {
        padding-left: 15px !important;
    }
}
