#pbr-masthead {
    color: #909090;
    font-weight: 400;
	font-family: Poppins,sans-serif;
    font-size: 14px;
	line-height: 25px;
	background-color: #f2f2f2;
    position: relative;
}
#pbr-masthead .pbr-masthead-inner {
    margin: 0 75px;
    padding: 0 15px;
}
#pbr-masthead .header-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 25px;
    border: 1px solid transparent;
}
.navbar-nav {
	display: block;
}
.navbar-mega {
    min-height: inherit;
    margin: 0;
    border: 0 solid transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
	border-radius: 0;
}
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.pbr-header-default .navbar-collapse {
    padding-left: 0;
}
.navbar-mega .navbar-nav {
    float: none;
	margin: 0;
}
.nav {
	padding-left: 0;
    list-style: none;
}
.navbar-mega .navbar-nav li.active, .navbar-mega .navbar-nav li.active>a {
    background: 0 0;
}
.navbar-mega .navbar-nav>li {
    display: inline-block;
    float: none;
    padding: 28px 15px;
}
.nav>li, .nav>li>a {
    position: relative;
}
.navbar-mega .navbar-nav>li:first-child {
    padding-left: 0;
}
.navbar-mega .navbar-nav li.active>a {
    background: 0 0;
}
.navbar-mega .navbar-nav>li>a {
    position: relative;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 600;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: 14px;
    font-size: 14px;
    text-transform: uppercase;
	-webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.dropdown-toggle:after {
	display: none;
}
.dropdown-menu, .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
}
.navbar-mega .navbar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.navbar-mega .navbar-nav>li .dropdown-menu, .navbar-mega .navbar-nav>li .sub-menu {
    padding: 0;
    background: #fff;
    min-width: 250px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    position: absolute;
    opacity: 0;
    display: block;
    right: 0;
    top: 97%;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .4s cubic-bezier(.25,.46,.45,.94) 0s;
    -o-transition: all .4s cubic-bezier(.25,.46,.45,.94) 0s;
    transition: all .4s cubic-bezier(.25,.46,.45,.94) 0s;
    visibility: hidden;
    z-index: 999;
    border: none;
}
#pbr-masthead .navbar-mega .navbar-nav>li:hover>ul {
    border-top: 2px solid #fdc900;
}
.navbar-mega .navbar-nav>li:hover>.dropdown-menu, 
.navbar-mega .navbar-nav>li:hover>.sub-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    right: 0;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
    visibility: visible;
    z-index: 99999;
    left: 0;
}
.navbar-mega .navbar-nav>li>a:before {
	width: 0;
    background: #fdc900 none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 80%;
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}
.navbar-mega .navbar-nav>li>a:hover:before {
    width: 100%;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.navbar-mega .navbar-nav>li>a .caret {
    color: #333;
    border-width: 4px;
	-webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.navbar-mega .navbar-nav>li>a:hover .caret {
    color: #fdc900;
}
.navbar-mega .navbar-nav>li .dropdown-menu li, .navbar-mega .navbar-nav>li .sub-menu li {
    display: block;
    padding: 10px 0 0;
    position: relative;
}
.navbar-mega .navbar-nav>li .dropdown-menu li a, .navbar-mega .navbar-nav>li .sub-menu li a {
    min-height: inherit;
    display: block;
    color: #000;
    text-transform: none;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.dropdown-menu>li>a, .sub-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.8;
    color: #666;
    white-space: nowrap;
}
.navbar-mega .navbar-nav>li .dropdown-menu li a:hover, .navbar-mega .navbar-nav>li .sub-menu li a:hover {
    color: #fdc900;
    background: 0 0;
}
#cart .cart-icon {
    display: inline-block;
    padding: 5px 10px 0 0;
}
#cart .mini-cart-items {
    display: block;
    line-height: 15px;
    top: -5px;
    right: 0;
    position: absolute;
    color: #fff;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: #fdc900;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
#cart .dropdown-toggle .amount, #cart .mini-cart-items em {
    display: none;
}
.pbr-topcart .dropdown-menu {
    top: 50px;
    padding: 20px;
    min-width: 320px;
    display: block;
    visibility: hidden;
    text-align: left;
    left: auto;
    right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.pbr-topcart .open .dropdown-menu {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform-origin: 29px -50px;
    -moz-transform-origin: 29px -50px;
    -ms-transform-origin: 29px -50px;
    transform-origin: 29px -50px;
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    visibility: visible;
    z-index: 3;
}
.pbr-topcart .dropdown-menu:before {
	content: "";
    display: inline-block;
    zoom: 1;
    position: absolute;
    left: 100%;
    margin-left: -26%;
	top: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

@media screen and (max-width: 1100px) {
    #pbr-masthead .pbr-masthead-inner {
        margin: 0 35px;
    }
}