.talk-to-us-container {
	padding-left: 69.5px;
    padding-right: 69.5px;
	box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	padding-top: 90px;
    padding-bottom: 90px;
    background-color: #fdc900 !important;
	font-family: Poppins,sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #909090;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.widget-text-heading {
    position: relative;
    padding-bottom: 25px;
    clear: both;
}
.widget-heading {
    letter-spacing: -2px;
	font-size: 30px;
    line-height: 35px;
	position: relative;
    font-family: Montserrat,sans-serif;
    color: #333;
    font-weight: 600;
}
.subtitle {
    font-size: 18px;
    letter-spacing: 0;
    text-transform: none;
    color: #333;
    font-weight: 300;
}
.vc_column-inner {
	box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
	-webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
	-webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.vc_btn3-right {
    text-align: right;
	display: block;
    margin-bottom: 21.73913043px;
    max-width: 100%;
}
.contact-us-btn {
	border-radius: 28px;
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,.01) 0%,rgba(0,0,0,.02) 100%);
    background-image: -o-linear-gradient(top,rgba(0,0,0,.01) 0%,rgba(0,0,0,.02) 100%);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.01) 0%,rgba(0,0,0,.02) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03000000',endColorstr='#05000000',GradientType=0);
	color: #666;
    border-color: #fff;
    background-color: #fff;
	display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
	border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
	    user-select: none;
    text-decoration: none;
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	-webkit-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
	font-size: 14px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #333 !important;
    letter-spacing: -.3px;
	padding: 18px 55px !important;
}
.contact-us-btn:before {
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
	background: #fdc900;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.contact-us-btn:hover {
	color: #fff !important;
    border-color: #f0f0f0;
    background-color: #f0f0f0;
}
.contact-us-btn:hover:before {
	-webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}

@media screen and (max-width: 767px) {
    .talk-to-us-container {
        padding-left: 0;
        padding-right: 0;
    }
    .vc_btn3-container {
        text-align: center;
    }   
}